# start with: dc run --rm --name mm --service-ports magicmirror
services:
  magicmirror:
    image: registry.gitlab.com/khassel/magicmirror:develop_debug23
    environment:
      - XDG_RUNTIME_DIR=/tmp
#      LD_PRELOAD: /usr/local/lib/libfaketime.so.1
#      FAKETIME: -1d
#      DISPLAY: unix:0.0
    ports:
      - "8080:8080"
    stdin_open: true
    tty: true
    command:
      - /bin/bash
      - -c
      - |
        # comment out if needed:
        #rm -rf ./*
        #rm -rf ./.*
        #git clone -b cloneobject https://github.com/khassel/MagicMirror.git .
        #npm install
        #mv config/config.js.sample config/config.js
        #sed -i 's|address:.*|address: "0.0.0.0",|g;s|ipWhitelist:.*|ipWhitelist: [],|g' config/config.js
        #touch ${MM_CUSTOMCSS_FILE:-"css/custom.css"}
        WLR_BACKENDS=headless WLR_LIBINPUT_NO_DEVICES=1 WLR_RENDERER=pixman labwc &
        export WAYLAND_DISPLAY=wayland-0
        /bin/bash
