:root {
  // accent colors
  --vp-c-accent: #ff8700;
  --vp-c-accent-bg: #ffa700;
  --vp-c-accent-hover: #ffc700;
  --vp-c-accent-soft: #ffc7006e;
}

[data-theme='dark'] {
  // brand colors
  --vp-c-accent: #ffc700;
  --vp-c-accent-bg: #ffa700;
  --vp-c-accent-hover: #ff8700;
  --vp-c-accent-soft: #ffc7006e;
}
